.App {
  font-family: sans-serif;
  text-align: center;
}
.btn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
.list {
  list-style: none;
  border: 2px solid grey;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  padding-bottom: 2rem;
}
#song-name {
  font-size: large;
  margin: 1.5rem;
}
#song-link {
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: blue;
  font-size: large;
}
